[Unit]
Description=Backup dotconfig
Wants=auto-backup-dotconfig.timer

[Service]
ExecStart=/home/juhyung/jhconfig/upload.sh

[Install]
WantedBy=default.target
