
snippet cargoDepDefault "default show"
[dependencies]
time = "0.1.12"
endsnippet

snippet cargoDepGit "dep using git URL"
rand = { git = "https://github.com/rust-lang-nursery/rand" }
endsnippet

snippet cargoDepFile "dep using path"
hello_utils = { path = "hello_utils" }
endsnippet
