snippet aframeComponentTemplate "A-FRAME Component Template"
AFRAME.registerComponent('${1}', {
  schema: {},

  init: function () {
  },

  update: function (oldData) {
  },

  remove: function () {
  },

  tick: function (time, timeDelta) {
  },

  play: function () {
  },

  pause: function () {
  },

  updateSchema: function (data) {
  },

  flushToDOM: function (data) {
  },
});
endsnippet
